@model Yarışma.Models.Period

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="card border-top border-0 border-4 border-danger">
			<div class="card-body p-5">
				<div class="card-title d-flex align-items-center">
					<div>
						<i class="bx bxs-user me-1 font-22 text-danger"></i>
					</div>
					<h5 class="mb-0 text-danger">Yarışma Takvimi Düzenle</h5>
				</div>
				<hr>
				<form class="row g-3" method="post">
					<input type="hidden" asp-for="Id">
					<div class="col-md-6">
						<label asp-for="PeriodName" class="form-label">Dönem Adı:</label>
						<div class="input-group">
							<input type="text" class="form-control border-start-0" asp-for="PeriodName" placeholder="Dönem Adı:">
							<span class="text-danger" asp-validation-for="PeriodName"></span>
						</div>
					</div>
					<div class="col-md-6">
						<label asp-for="ContestanStartDate" class="form-label">Yarışmacı Başlama Tarihi:</label>
						<div class="input-group">
							<input type="date" class="form-control border-start-0" asp-for="ContestanStartDate" placeholder="Yarışmacı Başlama Tarihi: ">
							<span class="text-danger" asp-validation-for="ContestanStartDate"></span>
						</div>
					</div>

					<div class="col-md-6">
						<label asp-for="ContestantEndDate" class="form-label">Yarışmacı Bitiş Tarihi:</label>
						<div class="input-group">
							<input type="date" class="form-control border-start-0" asp-for="ContestantEndDate" placeholder="Yarışmacı Bitiş Tarihi">
							<span class="text-danger" asp-validation-for="ContestantEndDate"></span>
						</div>
					</div>

					<div class="col-md-6">
						<label asp-for="ProjectStartDate" class="form-label">Proje Başlangıç Tarihi:</label>
						<div class="input-group">
							<input type="date" class="form-control border-start-0" asp-for="ProjectStartDate" placeholder="Proje Başlangıç Tarihi">
							<span class="text-danger" asp-validation-for="ProjectStartDate"></span>
						</div>
					</div>

					<div class="col-md-6">
						<label asp-for="ProjectEndDate" class="form-label">Proje Bitiş Tarihi:</label>
						<div class="input-group">
							<input type="date" class="form-control border-start-0" asp-for="ProjectEndDate" placeholder="Proje Bitiş Tarihi">
							<span class="text-danger" asp-validation-for="ProjectEndDate"></span>
						</div>
					</div>
					<div class="col-md-6">
						<label asp-for="JudgeStartDate" class="form-label">Hakem Başlangıç Tarihi:</label>
						<div class="input-group">
							<input type="date" class="form-control border-start-0" asp-for="JudgeStartDate" placeholder="Hakem Başlangıç Tarihi">
							<span class="text-danger" asp-validation-for="JudgeStartDate"></span>
						</div>
					</div>
					<div class="col-md-6">
						<label asp-for="JudgeEndDate" class="form-label">Hakem Bitiş Tarihi:</label>
						<div class="input-group">
							<input type="date" class="form-control border-start-0" asp-for="JudgeEndDate" placeholder="Hakem Bitiş Tarihi">
							<span class="text-danger" asp-validation-for="JudgeEndDate"></span>
						</div>
					</div>
					<div class="col-md-6">
						
						<div class="col-md-6">
							<label class="form-label">Durum:</label>
							<div class="form-check">
								<input type="radio" class="form-check-input" asp-for="Status" value="true" id="statusActive">
								<label class="form-check-label" for="statusActive">Aktif</label>
							</div>
							<div class="form-check">
								<input type="radio" class="form-check-input" asp-for="Status" value="false" id="statusPassive">
								<label class="form-check-label" for="statusPassive">Pasif</label>
							</div>
							<span class="text-danger" asp-validation-for="Status"></span>
						</div>


					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-danger px-5">Kaydet</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

