	<!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div class="">
			<img src="~/assets/images/adana-haci-sabanci-organize-sanayi-bolgesi-logo-CFEB15F9B4-seeklogo.com.png" style="width: 70px; height: auto;" alt="" />
		</div>
		<div>
			<h4 class="logo-text"></h4>
		</div>
		<a href="javascript:;" class="toggle-btn ms-auto">
			<i class="bx bx-menu"></i>
		</a>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon icon-color-1">
					<i class="bx bx-home-alt"></i>
				</div>
				<div class="menu-title">Dashboard</div>
			</a>
			<ul>
					<li>
			<a asp-area="Management" asp-controller="Report" asp-action="Index">

				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Rapor</div>
			</a>
		</li>
			</ul>
		</li>
		<li class="menu-label">Yarışmacı</li>
		<li>
			<a asp-area="Management" asp-controller="Contestant" asp-action="Contestant">
				
				<div class="parent-icon icon-color-2">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Tüm Yarışmacılar</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="ContestantTable" asp-action="Index">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Bekleyen Yarışmacılar</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="EvaluatedContestants" asp-action="EvaluatedContestants">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Değerlendirilen Yarışmacılar</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="NotEvaluatedContestants" asp-action="NotEvaluatedContestants">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Değerlendirilmeyen Yarışmacılar</div>
			</a>
		</li>
		<li class="menu-label">Hakemler</li>
		<li>
			<a asp-area="Management" asp-controller="Judge" asp-action="Judge">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Tüm Hakemler</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="ApproveJudge" asp-action="AproveJudge">
				<div class="parent-icon icon-color-2">
					<i class="bx bx-envelope"></i>
				</div>
				<div class="menu-title">Onay Bekleyen Hakemler</div>
			</a>
		</li>

		<li>
			<a asp-area="Management" asp-controller="ProjectCategories" asp-action="Index">

				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Proje Kategorileri</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="ContestantCategory" asp-action="Index">
				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Yarışmacı Kategorileri</div>
			</a>
		</li>
		<li>
			<a  asp-controller="JudgeCategories" asp-action="Index">

				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Hakem Kategorileri</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="ProjectQuestion" asp-action="Index">

				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Proje Soruları</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="Univercity" asp-action="Index">

				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Üniversiteler</div>
			</a>
		</li>
		<li>
			<a asp-area="Management" asp-controller="Periods" asp-action="Index">

				<div class="parent-icon icon-color-5">
					<i class="bx bx-group"></i>
				</div>
				<div class="menu-title">Yarışma Takvimi</div>
			</a>
		</li>
	
	
	</ul>
	<!--end navigation-->
</div>
<!--end sidebar-wrapper-->